<style>
    .reference, .reference-item, .overlay {
        border-radius: 15px;
    }

    .r4input1 {
        padding-left: 10px;
    }
</style>

<script>

    function myFunction() {
        window.open("http://cdubuche-blog.azurewebsites.net");
    }

    function bugFunction() {
        window.open("http://cdubuche-bugtracker.azurewebsites.net");
    }

    function finFunction() {
        window.open("http://cdubuche-financialportal.azurewebsites.net");
    }

</script>

<div id="all">
    <!-- *** INTRO IMAGE ***
    _________________________________________________________ -->
    <div id="intro" class="clearfix">
        <div class="item">
            <div class="container">
                <div class="row">
                    <div class="carousel-caption">
                        <div data-animate="fadeInDown" class="logo">
                            <img src="~/img/logo-big.png" alt="logo" width="130">
                        </div>
                        <h1 data-animate="fadeInDown">Hello, 안녕하세요, नमस्ते, Bonjour !</h1>
                        <h3 data-animate="slideInUp">I'm Christian Dubuche - a .NET developer with a strong sales and programming background.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- *** ABOUT ***
    _________________________________________________________ -->
    <div class="section" id="about">
        <div class="container">
            <div class="row">

                <div class="col-sm-12">
                    <h2 class="title" data-animate="fadeInDown">About me</h2>
                </div>

                <div class="col-sm-12">

                    <div class="row">

                        <div class="col-sm-12 text-left" data-animate="fadeInUp">
                            <h2>
                                <p>I'm a Husband, Father, amateur photographer & a serious .NET developer with a strong sales and marketing background.</p>

                                <p>I've been recognized for my “take-charge” work ethic & excel in both agile & collaborative work environments.</p>

                                <p>Skilled in ASP.NET, MVC, C#, JavaScript, jQuery, Bootstrap, CSS, HTML, SQL, Visual Studio, Salesforce & Xamarin.</p>

                                <p>I hope enter into a challenging role with a dynamic company where I can generate significant value.</p>
                            </h2>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 mt-big" data-animate="bounceIn">
                    <img src="~/img/about.jpg" class="image img-circle img-responsive" alt="This is me - IT worker">
                </div>
            </div>
        </div>
    </div>
    <!-- *** SERVICES ***
    _________________________________________________________ -->
    <div class="section text-gradient" id="services">
        <div class="container">
            <div class="col-md-12">
                <h2 class="title" data-animate="fadeInDown">Services</h2>

                <div class="row services">

                    <div class="col-md-4" data-animate="fadeInUp">
                        <div class="icon">
                            <i class="fa fa-connectdevelop"></i>
                        </div>
                        <h3 class="heading">Front End</h3>
                        <p>As a front-end developer, I create the interactions and user experiences with scripts embedded in a site’s HTML. Everything a visitor to your site sees, clicks, or uses to input or retrieve information that brings the site’s design to life.</p>
                    </div>

                    <div class="col-md-4" data-animate="fadeInUp">
                        <div class="icon">
                            <i class="fa fa-handshake-o"></i>
                        </div>
                        <h3 class="heading">Back End</h3>
                        <p>As a Back-End Developer I create and maintain the entire back-end function of a site or application. I take the finished front-end code and gives it working functionality using an array of programming languages and frameworks when building server-side software. </p>
                    </div>

                    <div class="col-md-4" data-animate="fadeInUp">
                        <div class="icon">
                            <i class="fa fa-free-code-camp"></i>
                        </div>
                        <h3 class="heading">Mobile</h3>
                        <p>As a Mobile Developer I create & test apps to ensure they work on multiple platforms. I make the necessary changes & tweaks, and release it to the various app stores. </p>
                    </div>

                </div>

                <hr>

            </div>
            <!-- /.12 -->
        </div>
        <!-- /.container -->
    </div>
    <!-- *** TESTIMONIALS ***
    _________________________________________________________ -->
    <div class="section text-gray" id="testimonials" data-animate="fadeInUp">

        <div class="container">
            <div class="col-md-12">

                <div class="mb20">
                    <h2 class="title" data-animate="fadeInUp">
                        What My customers said<br />
                        <span>about me</span>
                    </h2>

                    <p class="lead text-center" data-animate="fadeInUp">Some of my most recent clients' feedback.</p>
                </div>

                <ul class="owl-carousel testimonials same-height-row" data-animate="fadeInUp">
                    <li class="item">
                        <div class="testimonial same-height-always">
                            <div class="text">
                                <p>I've worked with many developers over the last few years but he is the first that I knew cared about my goals. </p>
                            </div>

                            <div class="bottom">
                                <div class="icon">
                                    <i class="fa fa-quote-left"></i>
                                </div>
                                <div class="name-picture">
                                    <img class="" alt="" src="~/img/JacquesG.jpg">
                                    <h5>Jacques G.</h5>
                                    <p>Altice USA</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="testimonial same-height-always">
                            <div class="text">
                                <p>Christian is a thoughtful individual that take seriously each challenge he faces.</p>
                            </div>
                            <div class="bottom">
                                <div class="icon">
                                    <i class="fa fa-quote-left"></i>
                                </div>
                                <div class="name-picture">
                                    <img class="" alt="" src="~/img/CharleneD.jpg">
                                    <h5>Charlene D.</h5>
                                    <p>Gibbons P.C.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="testimonial same-height-always">
                            <div class="text">
                                <p>His creativity and ability to bring people together make him a great asset in any setting.</p>
                            </div>
                            <div class="bottom">
                                <div class="icon">
                                    <i class="fa fa-quote-left"></i>
                                </div>
                                <div class="name-picture">
                                    <img class="" alt="" src="~/img/JeanD.jpg">
                                    <h5>Jean-Phillippe D.</h5>
                                    <p>DaVita Kidney Care</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="testimonial same-height-always">
                            <div class="text">
                                <p>I enjoy every opportunity I have to work with Christian.</p>

                            </div>
                            <div class="bottom">
                                <div class="icon">
                                    <i class="fa fa-quote-left"></i>
                                </div>
                                <div class="name-picture">
                                    <img class="" alt="" src="~/img/NomasontoM.jpg">
                                    <h5>Nomasonto M.</h5>
                                    <p>Highveld Mall</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="testimonial same-height-always">
                            <div class="text">
                                <p>His customer/client service skills are exemplary as I have always been able to reach him via phone or email.</p>
                            </div>

                            <div class="bottom">
                                <div class="icon">
                                    <i class="fa fa-quote-left"></i>
                                </div>
                                <div class="name-picture">
                                    <img class="" alt="" src="~/img/ThomasE.jpg">
                                    <h5>Thomas E.</h5>
                                    <p>Equashield, LLC</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- *** REFERENCES IMAGE ***
    _________________________________________________________ -->
    <div class="section" id="portfolio">
        <div class="container">
            <div class="col-sm-12">

                <div class="mb20">
                    <h2 class="title" data-animate="fadeInUp">My work</h2>

                    <p class="lead" data-animate="fadeInUp">I have worked on dozens of projects, these are my favorites.</p>
                </div>

                <div id="detail">

                    <span class="close">&times;</span>

                    <div id="detail-slider"></div>

                    <div class="text-center">
                        <h1 id="detail-title">&nbsp;</h1>
                    </div>

                    <div id="detail-content"></div>

                </div>
                <!-- Reference detail -->

                <div id="references-masonry" data-animate="fadeInUp">

                    @*<div class="reference-item" data-category="webdesign">
                        <div class="reference">
                            <a href="#">
                                <img src="~/img/projects/html5.png" class="img-responsive" alt="" />

                                <div class="overlay">
                                    <h3 class="reference-title">HTML5</h3>
                                    <p>Personal Portfolio Site</p>
                                </div>
                            </a>

                            <div class="sr-only reference-description" data-images="img/HTML5CF01.jpg,img/HTML5CF02.gif">

                                <p>First developed by Tim Berners-Lee in 1990, HTML is short for HyperText Markup Language. HTML is used to create electronic documents (called pages) that are displayed on the World Wide Web. Each page contains a series of connections to other pages called hyperlinks.</p>

                                <p class="buttons">
                                    <a class="btn btn-primary" href="index.html"><i class="icon-html5-alt"></i>HTML5</a>
                                </p>
                            </div>
                        </div>
                    </div>*@

                    <div class="reference-item" data-category="Javascript">
                        <div class="reference">
                            <a id="customModalJS" href="#" data-toggle="modal" data-target="#testModal" onclick="aFunction()">
                                <img src="~/img/projects/javascript.png" class="img-responsive" alt="" />

                                <div class="overlay">
                                    <h3 class="reference-title">Javascript</h3>
                                    <p>Taking the portfolio further</p>
                                </div>
                            </a>
                            <div class="sr-only reference-description" data-images="img/javascript.gif,img/javascript2.gif">

                                <p>Used in Web pages, JavaScript is a "client-side" programming language. This means JavaScript scripts are read, interpreted and executed in the client, which is your Web browser. By comparison, "server-side" programming languages run on a remote computer, such as a server hosting a website.</p>

                                <!--<p class="buttons">
                                    <a class="btn btn-primary" target="_blank" href="index.html"><i class="icon-javascript-alt"></i>Javascript Exercises</a>
                                </p>-->
                            </div>
                        </div>
                    </div>

                    @*<div class="reference-item" data-category="ShoppingCart">
                        <div class="reference">
                            <a href="#">
                                <img src="~/img/projects/shoppingcart.png" class="img-responsive" alt="" />

                                <div class="overlay">
                                    <h3 class="reference-title">Shopping Cart</h3>
                                    <p>Building a commercial site</p>
                                </div>
                            </a>

                            <div class="sr-only reference-description" data-images="img/shoppingcart01.gif,img/shoppingcart02.gif">

                                <p>In online marketing, a shopping cart is a piece of e-commerce software on a web server that allows visitors to an Internet site to select items for eventual purchase.</p>

                                <p class="buttons">
                                    <a class="btn btn-primary" href="javascript:void(0);"><i class="fa-shopping-cart"></i>Shopping Cart</a>
                                </p>
                            </div>

                        </div>
                    </div>*@

                    <div class="reference-item" data-category="Blog">
                        <div class="reference">
                            <a href="#" onclick="myFunction()">
                                <img src="~/img/projects/blog.png" class="img-responsive" alt="" />

                                <div class="overlay">
                                    <h3 class="reference-title">Personal Blog</h3>
                                    <p>Sharing my thoughts</p>
                                </div>

                            </a>

                            <div class="sr-only reference-description" data-images="img/blogging01.gif,img/blogging02.gif">

                                <p>A blog is a frequently updated onl ne personal journal or diary. It is a place to express yourself to the world. A place to share your thoughts and your passions.</p>

                                <!--<p class="buttons">
                                    <a class="btn btn-primary" href="JSExercises.html"><i class="icon-wordpress"></i>Visit Blog</a>
                                </p>-->
                            </div>
                        </div>
                    </div>

                    <div class="reference-item" data-category="BugTracker">
                        <div class="reference">
                            <a href="#" onclick="bugFunction()">
                                <img src="~/img/projects/bugtracker.png" class="img-responsive" alt="" />

                                <div class="overlay">
                                    <h3 class="reference-title">Bug Tracker</h3>
                                    <p>Because humans still make mistakes</p>
                                </div>
                            </a>

                            <div class="sr-only reference-description" data-images="img/bugtracker01.gif,img/bugtracker02.gif">

                                <p>A bug tracking system or defect tracking system is a software application that keeps track of reported software bugs in software development projects. It may be regarded as a type of issue tracking system.</p>

                                <!--<p class="buttons">
                                    <a class="btn btn-primary" href="JSExercises.html"><i class="icon-script-alt"></i>Bug Tracker</a>
                                </p>-->

                            </div>
                        </div>
                    </div>

                    <div class="reference-item" data-category="FinancialPlanner">
                        <div class="reference">
                            <a href="#" onclick="finFunction()">
                                <img src="~/img/projects/budget.png" class="img-responsive" alt="" />

                                <div class="overlay">
                                    <h3 class="reference-title">Financial Portal</h3>
                                    <p>Become Penny wi$e & Dollar geniu$</p>
                                </div>
                            </a>

                            <div class="sr-only reference-description" data-images="img/finances01.gif,img/finances02.gif">

                                <p>A financial planner can help you address issues of insurance, assets, money management, and more. A planner can help devise an equitable settlement that makes long-term financial sense.</p>

                                <!--<p class="buttons">
                                    <a class="btn btn-primary" href="JSExercises.html"><i class="icon-line-graph"></i>Financial Planner</a>
                                </p>-->

                            </div>
                        </div>
                    </div>
                    
                    @*<div class="reference-item" data-category="CarFinder">
                        <div class="reference">
                            <a href="#">
                                <img src="~/img/projects/carfinder.png" class="img-responsive" alt="" />

                                <div class="overlay">
                                    <h3 class="reference-title">Car Finder</h3>
                                    <p>The road ahead requires the best car for you.</p>
                                </div>
                            </a>

                            <div class="sr-only reference-description" data-images="img/carfinder01.gif,img/carfinder02.gif">

                                <p>An online search tool where buyers can find the car of their dreams.</p>

                                <p class="buttons">
                                    <a class="btn btn-primary" href="javascript:void(0);"><i class="fa-car"></i>Car Finder</a>
                                </p>
                            </div>
                        </div>
                    </div>*@

                    @*<div class="reference-item" data-category="Xamarin">
                        <div class="reference">
                            <a href="#">
                                <img src="~/img/projects/xamarin.png" class="img-responsive" alt="" />

                                <div class="overlay">
                                    <h3 class="reference-title">Mobile App</h3>
                                    <p>Xamarin == iOS == Andriod</p>
                                </div>
                            </a>

                            <div class="sr-only reference-description" data-images="img/xamarin00.gif,img/xamarin01.gif">

                                <p>A C#-shared codebase that developers can use to write native Android, iOS, and Windows apps with native user interfaces and share code across multiple platforms, including Windows and macOS.</p>

                                <p class="buttons">
                                    <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-globe"></i>Xamarin</a>
                                </p>
                            </div>
                        </div>
                    </div>*@                    
                </div>
            </div>
        </div>
    </div>
    <!-- *** CUSTOMERS ***
    _________________________________________________________ -->
    <div class="section text-gray" id="Resume" data-animate="fadeInDownBig">
        <div class="container">
            <div class="row">
                <div class="col-md 12">
                    <div id="myresume">
                        <object width="850" height="1150" data="img/Projects/Christian Dubuche - Resume.pdf" title="Full Stack Developer Resume" data-placement="bottom" data-toggle="tooltip"></object>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary" id="btnresume">Show / Hide Resume</button>
    </div>

</div>
<!-- Modals -->
<div id="testModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Javascript Exercises</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-pills">
                    <li class="active"><a data-toggle="pill" href="#home">Home</a></li>
                    <li><a data-toggle="pill" href="#menu1">Math Calculations</a></li>
                    <li><a data-toggle="pill" href="#menu2">Finding Factorials</a></li>
                    <li><a data-toggle="pill" href="#menu3">Finding Multiples</a></li>
                    <li><a data-toggle="pill" href="#menu4">Palindromes</a></li>
                </ul>

                <div class="tab-content">

                    <div id="home" class="tab-pane fade in active">
                        <h3><i class="icon-javascript-alt"></i></h3>
                        <p>Several Javascript exercises...</p>
                    </div>

                    <div id="menu1" class="tab-pane fade">
                        <h3>Math Calculations</h3>
                        <p>Let's determine which numbers are the <b>Smallest, Largest, Mean, Sum & Product</b> of all.</p>
                        <div class="row col-md-12">
                            <form>
                                Number 01:
                                <input type="number" id="r1input1" /><br>
                                <br>
                                Number 02:
                                <input type="number" id="r1input2" /><br>
                                <br>
                                Number 03:
                                <input type="number" id="r1input3" /><br>
                                <br>
                                Number 04:
                                <input type="number" id="r1input4" /><br>
                                <br>
                                Number 05:
                                <input type="number" id="r1input5" /><br>
                                <br>
                                <hr />
                            </form>
                            <select id="operators">
                                <option value="+">Sum</option>
                                <option value="*">Product</option>
                                <option value="/">Mean</option>
                                <option value="<">Least</option>
                                <option value=">">Greatest</option>
                            </select>
                            <!--              <button id="clickMe" type="button" value="clickme" onclick="calc()"/>-->
                            <button type="button" class="btn btn-primary" onclick="calc()">Let's Go!</button>
                            <input type="text" id="r1output1" />
                        </div>
                        <hr />
                        <br />
                        <pre style="border-radius: 9px;" class="brush: js;">
                                function calc() {
                                var num1 = parseInt(document.getElementById("r1input1").value);
                                var num2 = parseInt(document.getElementById("r1input2").value);
                                var num3 = parseInt(document.getElementById("r1input3").value);
                                var num4 = parseInt(document.getElementById("r1input4").value);
                                var num5 = parseInt(document.getElementById("r1input5").value);
                                var oper = document.getElementById("operators").value;
                                if (oper === "+") {  
                                    document.getElementById("r1output1").value = num1 + num2 + num3 + num4 + num5;
                                }
                                if (oper === "*") {
                                    document.getElementById("r1output1").value = num1 * num2 * num3 * num4 * num5;
                                }
                                if (oper === "/") {
                                    document.getElementById("r1output1").value = (num1 + num2 + num3 + num4 + num5) / 5;
                                }
                                if (oper === "<") {
                                    document.getElementById("r1output1").value = Math.min(num1, num2, num3, num4, num5);
                                }
                                if (oper === ">") {
                                    document.getElementById("r1output1").value = Math.max(num1, num2, num3, num4, num5);
                                }
                               }                
                            </pre>
                    </div>

                    <div id="menu2" class="tab-pane fade">
                        <h3>Finding Factorials</h3>
                        <p>Enter a <strong>POSITIVE</strong> integer to find its Factorial.</p>
                        <input type="number" id="r2input1" />
                        <button type="button" class="btn btn-primary" onclick="factorialize()">Let's Go!</button>
                        <input type="text" id="r2output2" />
                        <hr />
                        <br />
                        <pre style="border-radius: 9px;" class="brush: js;">
                          
                            function factorialize(num) {
                                var answer = 1
                                var num = parseInt(document.getElementById("r2input1").value);
                                if (num < 0)
                                {
                                    $('#r2output2').val("POSITIVE Numbers Only");
                                    return;
                                }
                                innerFunc(num);
                                function innerFunc(input) {
                                    if (input === 0) {
                                        return answer;
                                    }
                                    answer *= num;
                                    num--;
                                    if (num > 1) {
                                        innerFunc(num);
                                    }
                                    return answer;
                                }
                                document.getElementById("r2output2").value = answer;
                            }
                                  $('#r2input1').blur(function () {
                                if(Number($(this).val()) < 0)
                                {
                                    $(this).val();
                                    $('#r2output2').val("POSITIVE Numbers Only");
                                }
                            });
                        </pre>
                    </div>

                    <div id="menu3" class="tab-pane fade">
                        <h3>Finding the <strong>Multiples</strong> of two numbers between <b>1 & 100</b>.</h3>
                        <p>Multiples of the first number will be Fizz, the mulitples of the second will be Buzz and multiples of both will be FizzBuzz.</p>
                        <form>
                            Number 01:
                            <input type="number" id="r3input1" /><br>
                            <br>
                            Number 02:
                            <input type="number" id="r3input2" /><br>
                            <br>
                        </form>
                        <button type="button" class="btn btn-primary" onclick="fizzBuzz()">Let's Go!</button>
                        <div class="row col-md-12" id="r3output1" style="word-wrap: break-word; height: 180px"></div>
                        <pre style="border-radius: 9px;" class="brush: js;">
                                function fizzBuzz() {
                                var num01 = parseInt(document.getElementById("r3input1").value);
                                var num02 = parseInt(document.getElementById("r3input2").value);
                                var output = '';
                                for (var i = 1; i <= 100; i++) {
                                    if (i % num01 == 0 && i % num02 == 0) {
                                        output += 'FIZZ-BUZZ, ';
                                    }
                                    else if (i % num01 == 0) {
                                        output += 'FIZZ, ';
                                    }
                                    else if (i % num02 == 0) {
                                        output += 'BUZZ, ';
                                    }
                                    else {
                                        output += i + ", ";
                                    }
                                }
                                document.getElementById("r3output1").innerHTML = output.substring(0, output.length-2);
                            }               
                            </pre>
                    </div>

                    <div id="menu4" class="tab-pane fade">
                        <h3>Is it a ¿¿¿Palindrome???</h3>
                        <p>Type a word in <b>lowercase</b> and see if it's the same backwards and forwards a.k.a. a <strong>Palindrome</strong>. *CaSe SeNsItIvE eXeCiSe*</p>
                        <input type="text" id="r4input1" />
                        <button class="btn btn-primary" onclick="Palindrome()">Let's Go!</button>
                        <div class="row">
                            <span id="r4output1"></span>
                        </div>
                        <pre style="border-radius: 9px;" class="brush: js;">
                                function Palindrome(){
                                var word = $('#r4input1').val();
                                var revword = word.split('').reverse().join('');
                                var magicWord = ' IS NOT ';
                                if (word == revword) {
                                    magicWord = ' IS ';
                                }
                                var result = word + ' reversed = ' + revword + 
                        <b>'. Therefore it '</b> + magicWord + ' a palindrome';
                                $('#r4output1').html(result);
                             }
                            </pre>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="clrFunction()" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>